
	// start .sContact
	.sContact {
	--sPT: #{rem(0)};
	--asideW: rem(552);
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__wrapper {
		background-color: $gray-800;
		height: rem(204);
		.wrapper-container {
			position: relative;
			.bg-wrap {
				height: calc(100% - rem(2));
				margin-right: calc(-50vw + 50% - var(--asideW)*-1/2); // - var(--asideW)*-1/2
			}
			.picture-bg {
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				max-width: 100%;
			}
			.img {
				object-fit:cover;
				height: 100%;
				max-width: 100%;
			}
		}
		.box {
			width: var(--asideW);
		}
		.title-wrapper {
			padding: rem(74) 0;
			color: $white;
			h1 {
				margin-bottom: rem(5);
				font-weight: 700;
			}
			p {
				margin-bottom: 0;
				font-weight: 300;
			}
		}
	}
	@include media-breakpoint-down(xl) {
		.picture-wrap {
			position: absolute;
			height: 100%;
			opacity: .2;
		}
		.box {
			width: 80vw;
			z-index: 5;
		}
	}
	/* .section-title{
		
	}
	&__col{

	}
	&__item{

	} */
	&__slide{
		height: auto;
	}
	/* contact cards */
	.cards-container {
		margin-top: rem(30);
	}
	&__card:nth-child(-n+4) {
		margin-bottom: rem(20);
	}
	&__card {
		background-color: $white;
		border-radius: rem(2);
		padding: rem(30);
		box-shadow: 0 rem(8) rem(30) 0 rgba(0, 0, 0, 0.15);
	}
	.card-title {
		font-family: $header-font;
		font-size: rem(20);
		font-weight: 700;
		color: $gray-900;
		margin-bottom: rem(20);
		line-height: 110%;
	}
	&__desciption {
		max-width: rem(605);
	}
	.detail-wrapper, .link {
		display: inline-block;
		.icon {
			font-size: rem(20);
			color: $primary;
			margin-right: rem(10);
			position: relative;
			top: rem(-2);
		}
		.span_red {
			color: $primary;
		}
	}
	a {
		color: $gray-700;
	}
	@media (hover:hover) {
		a:hover {
			color: $primary;
		}
	}
	.list {
		margin-bottom: 0;
		.item {
			list-style-type: none;
			line-height: 130%;
			font-weight: 300;
			display: block;
			p {
				margin-bottom: 0;
				display: inline-block;
			}
		}
	}
	.item:first-of-type:not(:only-child) {
		margin-bottom: rem(10);
	}
	.list-box {
		.contact-us {
			max-width: rem(580);
		}
	}
	&__qr-wrapper {
		position: relative;
		.red-box {
			background-color: $primary;
			width: rem(240);
			height: rem(36);
			position: absolute;
			top: 0;
			left: 0;
		}
		.img {
			position: relative;
			z-index: 1;
			top: rem(-5);
			left: rem(30);
			top: rem(15);
			box-shadow: 0 rem(8) rem(30) 0 rgba(0, 0, 0, 0.15);
		}
	}
	.item_no-mb {
		margin-bottom: 0 !important;
	}
	
	

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact