mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.wrapper
			.container.wrapper-container
				.row
					.box.col-lg-auto
						.title-wrapper
							h1 Контактная информация
							p Реквизиты и адрес организации
					.col-lg.picture-wrap
						.bg-wrap
							+b.picture-bg
								img.img(src='img/contacts.png')
		.container.cards-container
			+e.cards.cards
				+e.card
					+e.title.card-title Адрес организации
					+e.desciption
						ul.list
							li.item.item_no-mb ООО «Айнхелль»
							li.item Российская Федерация
							li.item 197022, Санкт-Петербург г, вн.тер.г. муниципальный округ Аптекарский остров, ул. Профессора Попова, д. 23, литер Д, пом. 27Н, офис 310
							li.item (на территории БЦ Бизнес-мегаполис "Гайот")
				+e.card
					+e.title.card-title Телефон горячей линии
					+e.desciption
						ul.list.list-box
							li.item.detail-wrapper
								a(href='tel:+78007755155')
									svg.icon
										use(xlink:href='img/svg/sprite.svg#phone')
									p +7 (800) 775-51-55
							li.item.detail-wrapper
								svg.icon
									use(xlink:href='img/svg/sprite.svg#time')
								p c 9:00 до 17:30
				+e.card
					+e.title.card-title Факс
					+e.desciption
						ul.list.list-box
							li.item.detail-wrapper
								a(href='tel:+78124488349')
									svg.icon
										use(xlink:href='img/svg/sprite.svg#fax')
									p +7 (812) 448-83-49
				+e.card
					+e.title.card-title Email
					+e.desciption
						ul.list.list-box
							li.item.detail-wrapper
								a(href='mailto:welcome@einhell-russia.ru')
									svg.icon
										use(xlink:href='img/svg/sprite.svg#email')
									p welcome@einhell-russia.ru
							li.item.detail-wrapper
								a(href='mailto:service@einhell-russia.ru')
									svg.icon
										use(xlink:href='img/svg/sprite.svg#email')
									p
										| service@einhell-russia.ru (
										span.span_red сервисная служба
										| )
				+e.card
					+e.title.card-title Отдел маркетинга
					+e.desciption
						ul.list.list-box
							li.item.detail-wrapper.contact-us «Мы нацелены на широкий медийный охват торговой марки Einhell в России, поэтому с радостью ознакомимся с любыми Вашими предложениями!»
							li.item.detail-wrapper
								a(href='mailto:welcome@einhell-russia.ru')
									svg.icon
										use(xlink:href='img/svg/sprite.svg#email')
									p welcome@einhell-russia.ru
				+e.card
					+e.title.card-title Декларация об осуществлении деятельности на территории г. Санкт-Петербурга
					+e.desciption
						ul.list.list-box
							li.item.detail-wrapper
								a.link(href="#")
									svg.icon
										use(xlink:href='img/svg/sprite.svg#open')
									p Открыть
			+e.qr-wrapper
				.red-box
				img.img(src='img/qr.png',alt='qr')


	// end sContact