mixin distributorItem(id,coords,distance,city,mall,address,metro,schedule,tel)
	+e.item(data-coords=coords data-type=id)
		+e.item-top #{distance} км
			+e.close-btn.btn.btn-primary.BUTTON
				+icon('close')
		+e.item-text
			address
				+e.item-city= city
				+e.item-address= mall
				+e.item-address= address 
			+e.details
				+icon('metro')
				| #{metro}
			+e.info
				+e.info-term Режим работы
				+e.info-def= schedule
			+e.info
				+e.info-term Телефон
					+e.info-def(href=`tel:tel`)= tel
				//- for number in tels
			+e.details(href="#")
				+icon('web')
				| Перейти на сайт
			+e.item-btn.btn.btn-primary.BUTTON Построить маршрут
				+icon('route')


mixin sDistributor(data)
	// start sDistributor
	+b.SECTION.sDistributor.section#sDistributor&attributes(attributes)
		+e.top
			.container
				+e.top-container
					+search('Найти ближайший сервисный центр','Выберите город...')
					+e.view
						+e.view-label Посмотреть:
						+e.view-label.active(href="#")
							+icon('pin')
							| На карте
						+e.view-label(href="#")
							+icon('list')
							| Списком
					+e.img-wrap: +img(`img/duration.png`)
		+e.map-wrap
			#map
				script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=09afbf5f-475d-4f23-bb68-eb2d6371a737" type="text/javascript")
				script
					include _sDistributor.js
			.container
				+e.item-list
					+distributorItem(items[0].id,items[0].coords,items[0].distance,items[0].city,items[0].mall, items[0].address,items[0].metro,items[0].schedule,items[0].tel[0], items[0].tel[1])
				//- each item in items
	// end sDistributor