extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Catalog — Section'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Аккумуляторные системы ','раздел','Аккумуляторные системы')
		+sCatalog(data)
			+checkboxFilter('Аккумуляторная платформа 3,6 В','Аккумуляторная платформа 12 В','Аккумуляторная платформа 18 В','Аккумуляторная платформа 2X18 В (36 В)')
			+e.row.row
				.col-md-8.col-lg-6.col-xl-4: +catalogItem('catalog-item-1','Аккумуляторы и зарядные устройства').sCatalog__item--lg
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-3','Аккумуляторные ударные винтоверты, гайковерты')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-2','Дрели-шуруповерты')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-4','Аккумуляторные угловые шлифовальные машины')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-5','Аккумуляторные перфораторы')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-6','Аккумуляторные лобзики')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-7','Аккумуляторные циркулярные пилы')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-8','Аккумуляторные сабельные ножовки')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-9','Аккумуляторные торцевые пилы')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-10','Аккумуляторные шлифовальные машины')
				.col-6.col-md-4.col-lg-3.col-xl-2: +catalogItem('catalog-item-11','Аккумуляторные шлифователи стен')
		+sContent.sContent--catalog
			+b.section-title
				h2 Заголовок SEO текста
			p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.

	+parts('footer')
	



