extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Contacts'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container
			+breadcrumb('Главная','Контакты')
		+sContact
	+parts('footer')
block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c") 
	script
		include ../blocks/sContact/_sContact.js
	




