extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Contacts'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container
			+breadcrumb('Главная','Контакты')
		+sContact
	+parts('footer')
	



