 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	form {
		display: flex;
		align-items: center;
	}
	input{
		font-size: 14px;
		width: 100%;
		padding: rem(8) rem(20);
		margin-right: rem(5);
		border-radius: 2px;
		border: 1px solid $gray-200;
		outline: none !important;
		&:focus {
			border-color: $primary;
		}
	}
	.icon{
		font-size: rem(24);
		border: none !important;
		fill: $white;
	}
	button{
		padding: 0;
		width: rem(39);
		height: rem(39);
		display: flex;
		justify-content: center;
		align-items: center;
		background: $primary;
		border-radius: 2px;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}