
.sCompare{
	--card-mb: 140px;
	&__row{
		// max-width: fit-content;

	}
	.swiper-button-hand{
		top: 150px;
		bottom: auto;// filter: none;
		// fill: var(--white, #FFF);
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.20));
		box-shadow: none;
	}
	&__title-col{
		margin-bottom: 16px;
	}
		&__header{
			// font-size: 20px;
			white-space: nowrap;
			@include rfs(20px);
			font-weight: bold;
			line-height: 1.1;
			margin-bottom: 15px;
			// font-family: 'Open Sans Condensed';
		}
		.swiper-slide:not(:last-child)  .sCompare__item--title-item
			{
				margin-right: -20px;
			}
		&__item{
			font-size: 14px;
			font-weight: 300;
			padding: 10px 20px;
			line-height: 1.2;
			// border: 1px solid #000;
			&--title{
				border-radius: 2px;
				position: relative;
				z-index: 5;
			}
			&--text{
				min-height: var(--el-height);
			}
			&--result{
				padding-right: 0;
			}
			&--title-item{
				background: var(--grey-1, #F7F7F8);
			}
			&--text{
				opacity: 0;
				visibility: hidden;
			}
			
			img{
				margin-bottom: 1rem;
			}
			ul{
				// padding-left: 6px;
			}
			li{
				padding-left: 10px;
				&::marker{
					content: '·';
					// margin-right: 10px;
				}
			}
		}
	&__group{
		margin-bottom: 30px;
	}

	&__main-head{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		pointer-events: none;
		padding-top:  calc(var(--el-height, 330px) + var(--card-mb) - 41px);
		// opacity: 0;
		// z-index: 4;
		// border: 1px solid #000;

	}
	&__row{
		position: relative;

	}
	.swiper-slide{
		--count: 4;
		width: calc(100% / var(--count));
	}

	
}


.compare-card{
	text-align: center;
	display: block; 
	@include media-breakpoint-up(sm) {

		font-size: 18px; 
	}
	font-size: 14px; 
	// @include rfs(18px);
	font-weight: 600;
	line-height: 110%; /* 19.8px */
	letter-spacing: 0.54px;
	&:not(:hover){
		color: $body-color;
	}
	border-radius: 2px;
	border: 1px solid var(--grey-2, #E7E7E7);
	background: var(--white, #FFF);
	display: block;
	padding: 20px;
	margin-bottom: var(--card-mb);
	&__img-wrap{
		aspect-ratio: 250 / 210;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;

		img{
			flex: 0 0 auto;
			@extend .res-i;
			max-height: 100%;
		}
	}
}


